@{
    ViewData["Title"] = "Home Page";
}


    <div class="input-group mb-3">
        <input class="form-control" id="descricao" placeholder="pesquisar produto" type="text" arial-label="buscar produtos" name="name" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="buscar">Buscar</button>
        </div>
    </div>
<div class="row" id="DivVenda">
    
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>